.tracksList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trackItem {
    padding: 10px;
    border: 1px solid plum;
    border-radius: 5px;
}

.selected {
    border: 1px solid gold;
}
